<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Support Team On-Call Scheduling</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/themes.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">On-Call Scheduler</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.has_permission('view_dashboard') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('manage_users') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.manage_users') }}">Manage Users</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('manage_teams') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.manage_teams') }}">Manage Teams</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('manage_roles') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.list_roles') }}">Manage Roles</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('view_analytics') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.analytics_dashboard') }}">Analytics</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('manage_schedules') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manager.manage_schedule') }}">Manage Schedule</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('view_team') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manager.my_team') }}">My Team</a>
                        </li>
                        {% endif %}

                        {% if current_user.has_permission('request_time_off') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user.time_off_request') }}">Time Off Request</a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                    {% endif %}
                    <!-- Theme Toggle Button -->
                    <li class="nav-item">
                        <div class="theme-toggle-container">
                            <input type="checkbox" class="checkbox" id="themeToggle">
                            <label class="label" for="themeToggle">
                                <i class="fas fa-moon"></i>
                                <i class="fas fa-sun"></i>
                                <div class="ball"></div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Messages -->
    <!-- Make flashed messages available to all templates and use bootstrap alerts, messages will disappear after 5 seconds -->
    <div class="container mt-4">
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/en-gb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.3/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    
    <!-- Application scripts -->
    <!-- <script src="{{ url_for('static', filename='js/utils.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block extra_js %}{% endblock %}

    <script>
        // Theme toggle functionality
        function toggleTheme() {
            const isChecked = document.getElementById('themeToggle').checked;
            const newTheme = isChecked ? 'dark' : 'light';
            document.body.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        }

        document.addEventListener('DOMContentLoaded', function() {
            const savedTheme = localStorage.getItem('theme') || 'light';
            document.body.setAttribute('data-bs-theme', savedTheme);
            document.getElementById('themeToggle').checked = (savedTheme === 'dark');
            document.getElementById('themeToggle').addEventListener('change', toggleTheme);
        });

        document.addEventListener('DOMContentLoaded', function() {
            const flashMessages = document.querySelectorAll('#flash-messages .alert');
            flashMessages.forEach(function(message) {
                // Fade out the message after 4.5 seconds (4500 ms)
                setTimeout(function() {
                    message.style.transition = 'opacity 0.5s';
                    message.style.opacity = '0';
                }, 4500);

                // Remove the message from the DOM after 5 seconds (5000 ms)
                setTimeout(function() {
                    message.remove();
                }, 5000);
            });
        });
    </script>
</body>
</html>
